LLM_URL
LLM_TIMEOUT
MCP_BACKEND_URL
NEWS_FEED_URL=https://news.google.com/rss?hl=en-US&gl=US&ceid=US:en
NEWS_LOCATION_FEED_URL_TEMPLATE=https://news.google.com/rss/search?q={query}&hl=en-US&gl=US&ceid=US:en
