[submodule "sysmind-ui"]
	path = sysmind-ui
	url = git@github.com:bijuvarghese/sysmind-ui.git

[submodule "sysmind-mcp"]
	path = sysmind-mcp
	url = git@github.com:bijuvarghese/sysmind-mcp.git

[submodule "sysmind-agent"]
	path = sysmind-agent
	url = git@github.com:bijuvarghese/sysmind-agent.git

[submodule "sysmind-ios"]
	path = sysmind-ios
	url = git@github.com:bijuvarghese/sysmind-ios.git
